#ila {
    width: 35%;
    float: right;
    margin: -23px 93px;
}

#expli p {
    font-size: 22px;
    width: 80%;
    margin: 170px 53px;
}

#sol {
    width: 35%;
    float: right;
    margin: 25px 93px;
}

#info p {
    font-size: 22px;
    width: 80%;
    margin: 255px 45px;
}
#if{
    color: rgb(0, 110, 114);
    margin-top: -6%;
    font-family: cursive;
}


@media only screen and (max-width: 600px) {
    .enla {
        flex-direction: column;
        align-items: center;
    }

    #ila, #sol {
        width: 100%;
        margin: 20px 0;
    }

    #expli p, #info p {
        font-size: 14px;
        width: 100%;
        margin: 25px 0;
    }

    #ini{
        margin: 0% 46%;
    }
}